name: Test and release

on: push
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install test dependencies
        run: |
          sudo apt-get install --force-yes freeglut3-dev
          python -m pip install --upgrade pip
          pip install '.[tests]'
      - name: Run test suite
        uses: GabrielBB/xvfb-action@v1.2
        with:
          run: |
            pytest tests --cov glooey
      - name: Report test coverage
        env:
          COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_TOKEN }}
        run: |
          coveralls

  release:
    name: Release to PyPI
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs: [test]

    steps:
      - uses: actions/checkout@v2
        with:
          # Make sure the whole repository history is present, so that 
          # python-semantic-release can decide if a new release is needed.
          fetch-depth: 0

      - uses: relekang/python-semantic-release@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pypi_token: ${{ secrets.PYPI_TOKEN }}
